<h3>Hey! You have to log in before using NodeHero :/</h3>

<form action="/login" method="post">
  <input name="email" id="email" type="text" placeholder="Your email" />
  <input name="password" id="password" type="password" placeholder="Your password"/>
  <input type="submit" />
</form>
